body{
    font: 15px/1.5 Arial,Helvetica,san-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.contenedor{
    width: 75%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/*Encabezado*/

header{
    background:#A5C9CA ;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0F3D3E 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px  0 20px;
}

header #logo{
    float: left;
}

header #logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .iluminado, header .current a{
    color:#395B64 ;
    font-weight: bold;
}

header a:hover{
    color: #395B64;
    font-weight: bold;
}

/*Imagen Inicio*/

#imagenInicio{
    min-height: 400px;
    background: url('../img/inicio.jpg') no-repeat -4400px -2300px;
    text-align: center;
    color: #A5C9CA;
}

#imagenInicio h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#imagenInicio p{
    font-size: 20px;
}

